@import "../../theme/base";

.map-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-top: -$navbar-height + $space-default;

  &__panel {
    width: 50%;
    height: 100%;
  }
}
